.link {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.link:hover {
}

.active {
    color: red;
}

.block {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(112, 145, 117);
}

.header {
    display: flex;
    flex-direction: row;

    width: 270px;

    transition-duration: 500ms;
    transform: translate(-240px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}
