.default {
    margin: 10px;
    background-color: rgb(111, 135, 179);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: white;
}

.default:hover {
    margin: 10px;
    background-color: rgb(123, 147, 190);
    border: 1px solid rgb(138, 138, 138);
    border-radius: 3px;
    padding: 3px 9px;
    color: white;
}
.default:active {
    margin: 10px;
    background-color: rgb(111, 135, 179);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: rgb(79, 84, 124);
}

.default:disabled {
    margin: 10px;
    background-color: rgb(111, 135, 179);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: rgb(160, 160, 160);
}

.red {
    margin: 10px;
    background-color: rgb(126, 37, 56);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: white;
}
.red:hover {
    margin: 10px;
    background-color: rgb(163, 83, 100);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: white;
}

.red:active {
    margin: 10px;
    background-color: rgb(126, 37, 56);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px 9px;
    color: rgb(184, 125, 125);
}
