.superInput {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.errorInput {
    /* border: 3px solid lime; */
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid red;
}

.error {
    color: brown;
}
